body {
  background: #ff0099; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #493240,
    #ff0099
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #493240,
    #ff0099
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#calculator {
  border: 1px solid white;
  margin: 100px auto;
  max-width: 500px;
}
#display-container {
  border: 1px solid white;
  color: white;
  background: #283c86;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  font-weight: bold;
  height: 20%;
  text-align: end;
  min-height: 50px;
  word-wrap: break-word;
}
#button {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.button {
  border: 1px solid white;
  color: wheat;
  font-weight: bold;
  width: 2.9rem;
  height: 2.9rem;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: black;
  color: white;
}
